# Зависимости
node_modules/
apps/backend/node_modules/
apps/frontend/node_modules/

# Сборки
dist/
apps/backend/dist/
apps/frontend/dist/

# Переменные окружения
.env
.env.local
apps/backend/.env
apps/frontend/.env

# Prisma
apps/backend/prisma/migrations/.gitkeep

# IDE / ОС
.vscode/
.idea/
.DS_Store
Thumbs.db

# Логи
*.log
npm-debug.log*